<ion-header>
  <ion-toolbar>
    <ion-title>Administrateur: Statut</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="main-content">

    <!-- MENU LATERAL -->
    <ion-menu contentId="main-content" type="overlay">

      <ion-content>
        <ion-list id="menu" inset=true>
          <ion-list-header>{{ menu.title }}</ion-list-header>
          <ion-note>{{ menu.subtitle }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu.pages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <!-- CONTENU DE LA PAGE -->
    <ion-router-outlet id="main-content">
      <ion-content>
        <ion-label>Statut actuel : {{currentStatus}}</ion-label>
        <ion-item>
          <ion-label>Choisir un statut</ion-label>
          <ion-select [multiple]='false' [(ngModel)]="newStatut">
            <ion-select-option value="debut">Début</ion-select-option>
            <ion-select-option value="enCours">En cours</ion-select-option>
            <ion-select-option value="votesFermes">Votes fermés</ion-select-option>
            <ion-select-option value="resultats">Résultats</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="updateStatus()">Valider</ion-button>
      </ion-content>
    </ion-router-outlet>

  </ion-split-pane>
</ion-content>