<ion-content [fullscreen]="true">
  <div class="main">
    <div class="container">
      <div class="header" style="z-index: 2;">
        <span style="color: #F2F2F2;">logo</span><br>
        <ion-button style="float:right;">
          <a (click)="redirect()">login</a>
        </ion-button>
        <div class="fond">
          <h1 class="lesPalmares">LE PALMARES</h1>
          <h1 class="lesPalmares" *ngIf="status == 'debut';">21 Mai à 16h00</h1>
          <h1 class="lesPalmares" *ngIf="status == 'resultats';">Voir les résultats</h1>
        </div>
      </div>
      <h1>LES NOMMÉS DU FESTIVAL</h1>

      <ul>
        <li class="categorie" *ngFor="let categorie of categories" (click)="categoryName(categorie)">
          {{categorie.name}}
        </li>
      </ul>

      <ion-list>
        <ion-item *ngFor="let oeuvre of oeuvres" class="oeuvre" [routerLink]="'/oeuvre-details/' + oeuvre.key">
          <div class="oeuvre-card">
            <img src="https://i.ytimg.com/vi/YrcyW38bUVI/hq3.jpg" alt="" class="oeuvre-image">
            <div class="oeuvre-name">{{oeuvre.name}}</div>
            <div class="oeuvre-cat">Catégorie : {{oeuvre.categoryId}}</div>
          </div>
        </ion-item>
      </ion-list>

    </div>
  </div>
</ion-content>