<ion-content [fullscreen]="true">
    <div class="main">
        <div class="container">
            <div class="header" style="z-index: 2;">
                <ul>
                    <li>
                        <img width="150" class="logo" src="../../assets/img/videalps.png" alt="Videalps logo">
                    </li>
                    <li><button class="videalps-button"><a (click)="login()">Se connecter</a></button></li>

                </ul>
            </div>
            <div class="banner">
                <div class="palmares">LES RÉSUTATS</div>
                <div class="palmares-info" *ngIf="status == 'debut';"><span>21 Mai</span><br><span>à</span> 16h00</div>
                <div class="palmares-resultat" *ngIf="status == 'resultats';">Voir les résultats</div>
            </div>


            <h1>LES NOMMÉS DU FESTIVAL</h1>

            <ul class="oeuvre-category-list">
                <li class="categorie" *ngFor="let categorie of categories" (click)="catName(categorie)">
                    {{categorie.name}}
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-4" *ngFor="let oeuvre of oeuvres">
                    <div class="oeuvre-card">
                        <img src="https://i.ytimg.com/vi/YrcyW38bUVI/hq3.jpg" alt="" class="oeuvre-image">
                        <div class="oeuvre-name">{{oeuvre.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</ion-content>
