<ion-header>
  <ion-toolbar>
    <ion-title>Invitation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Lancez les invitations</h1>
  <div class="uploadFile" [style]="{marginBottom : '15px', marginTop: '15px'}">
    <input type="file" class="upload" (change)="changeListener($event)">
  </div>
  <ion-label><B>OU</B></ion-label>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" #nom required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Prénom</ion-label>
      <ion-input type="text" #prenom required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="sendMail(nom, prenom, email)" expand="block">Envoyer le lien d'invitation</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
