<ion-header>
    <ion-toolbar>
        <ion-title>Invitation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-split-pane contentId="main-content">

        <!-- MENU LATERAL -->
        <ion-menu contentId="main-content" type="overlay">

            <ion-content>
                <ion-list id="menu" inset=true>
                    <ion-list-header>{{ menu.title }}</ion-list-header>
                    <ion-note>{{ menu.subtitle }}</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of menu.pages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false">
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

            </ion-content>

        </ion-menu>

        <!-- CONTENU DE LA PAGE -->
        <ion-router-outlet id="main-content">

            <h1 [style]="{marginLeft: '15px'}">Lancez les invitations</h1>
            <div class="uploadFile" [style]="{marginBottom : '15px', marginTop: '15px', marginLeft: '15px'}">
                <input type="file" class="upload" (change)="changeListener($event)">
            </div>
            <h1 [style]="{marginLeft: '15px'}"><B>OU</B></h1>
            <form>
                <ion-item lines="full">
                    <ion-label position="floating">Nom</ion-label>
                    <ion-input type="text" #nom required></ion-input>
                </ion-item>

                <ion-item lines="full">
                    <ion-label position="floating">Prénom</ion-label>
                    <ion-input type="text" #prenom required></ion-input>
                </ion-item>

                <ion-item lines="full">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" #email required></ion-input>
                </ion-item>

                <br>
                <ion-label [style]="{marginLeft: '15px'}">Jury :</ion-label>
                <ion-item lines="full">
                    <ion-checkbox color="danger" #role value="jury" slot="start"></ion-checkbox>
                </ion-item>

                <br>
                <ion-label [style]="{marginLeft: '15px'}">Vous pouvez insérer une photo de profil !</ion-label>
                <ion-item lines="full">
                    <input type="file" class="upload" #image>
                </ion-item>

                <ion-col>
                    <ion-button type="submit" (click)="sendMail(nom, prenom, email, role, image)" expand="block">Envoyer
                        le lien d'invitation
                    </ion-button>
                </ion-col>
            </form>
        </ion-router-outlet>
    </ion-split-pane>
</ion-content>
