<ion-header>
  <ion-toolbar>
    <ion-title>Administrateur: Oeuvre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="main-content">

    <!-- MENU LATERAL -->
    <ion-menu contentId="main-content" type="overlay">

      <ion-content>
        <ion-list id="menu" inset=true>
          <ion-list-header>{{ menu.title }}</ion-list-header>
          <ion-note>{{ menu.subtitle }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menu.pages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

    </ion-menu>

    <!-- CONTENU DE LA PAGE -->
    <ion-router-outlet id="main-content">
      <ion-content>
        

        <!-- FORMULAIRE -->
        <ion-title *ngIf="this.updateMode == false">CREATE</ion-title>
        <ion-title *ngIf="this.updateMode == true">EDIT: {{ selected.name }}</ion-title>
        <ion-list class="form">
          <form [formGroup]="form" (ngSubmit)="formSubmit()">
            <ion-item lines="full">
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name" type="text" required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label>Catégories</ion-label>
              <ion-select [(ngModel)]="selectedCategorie" formControlName="categoryId">
                <ion-select-option *ngFor="let categorie of categories" [value]="categorie.name">{{categorie.name}}</ion-select-option>
              </ion-select>
            </ion-item>

            <!--Change en fonction de la categorie-->
            <div lines="full" *ngIf="selectedCategorie == 'Web';then url"></div>
            <div lines="full" *ngIf="selectedCategorie == 'Animation';then youtube"></div>
            <div lines="full" *ngIf="selectedCategorie == 'Photo';then image"></div>
            
            <ng-template #url>
              <ion-item>
                <ion-label position="floating">URL du site web</ion-label>
                <ion-input formControlName="url" type="url" required></ion-input>
              </ion-item>
            </ng-template>
            <ng-template #youtube>
              <ion-item>
                <ion-label position="floating">Lien Youtube</ion-label>
                <ion-input formControlName="url" type="url" placeholder="https://youtu.be/... ou https://www.youtube.com/watch?v=..."></ion-input>
              </ion-item>
            </ng-template>
            <ng-template #image>
              <ion-item>
                <ion-label>Importer des images</ion-label>
                <ion-button color="primary" shape="round" size="medium">
                  <input type="file" (change)="saveImage($event.target.files)" multiple/>
                </ion-button> 
              </ion-item>
            </ng-template>
              
            


            <ion-item lines="full">
              <ion-label position="floating">Date</ion-label>
              <ion-input formControlName="date" type="date" placeholder="jj/mm/aaaa"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Votes</ion-label>
              <ion-input formControlName="voteId" type="number" required></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Description</ion-label>
              <ion-input formControlName="description" type="text"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Contributeurs</ion-label>
              <ion-input formControlName="contributeurs" type="text"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Conditions de Réalisations</ion-label>
              <ion-input formControlName="realisation" type="text"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">Techniques Utilisées</ion-label>
              <ion-input formControlName="technique" type="text"></ion-input>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">
                  Enregistrer l'oeuvre
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-list>

        <!-- LISTE DES OEUVRES -->
        <ion-title>OBJETS</ion-title>
        <ion-list >
          <ion-item *ngFor="let oeuvre of this.oeuvres" lines="full">
            <ion-col>
              <ion-label color="medium">Nom</ion-label>
              <ion-label>{{ oeuvre.name }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="medium">Categorie</ion-label>
              <ion-label>{{ oeuvre.categoryId }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="medium">Date de Réalisation</ion-label>
              <ion-label>{{ oeuvre.date }}</ion-label>
            </ion-col>
            <ion-button slot="end" (click)="onSwitchMode(oeuvre.key)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" (click)="onDelete(oeuvre.key)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-router-outlet>

  </ion-split-pane>
</ion-content>
