<header>
  <span>Logo</span>
  <span style="float:right">login</span>
</header>
<h1>PARTICIPATION AU FESTIVAL</h1>
<ion-content  class="ion-padding"  slot="fixed">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <form>
          <ion-input placeholder="Prénom"></ion-input>
          <ion-input placeholder="Nom"></ion-input>
          <ion-input placeholder="Titre de la réalisation"></ion-input>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choisissez une date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>

          <ion-textarea placeholder="Présentez votre création..."></ion-textarea>
          <ion-button color="secondary" type="submit" class="submit" expand="full">
            Valider
          </ion-button>
        </form>
      </ion-col>
      <ion-col  offset-sm></ion-col>
      <div class="blue-bg"></div>
    </ion-row>
  </ion-grid>
</ion-content>
