h1{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 63px;
  opacity: 15%;
  letter-spacing: 0.5rem;
}

ion-grid {
  margin-bottom: 2em;
}


.blue-bg {
  background-color: #C8E1FF;
  width: 800px;
  height: 100%;
  position: absolute;
  right:-125%;
  top:0;

  transform:translateX(100%);
}

ion-col {
  padding: 0;
}
root {
  font-family: Assitant, sans-serif;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  font-size: 36px;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}

ion-input {
  background-color:#f1f1f1;
  margin-bottom:2rem;
  color:black;
}

ion-select {
  --ion-text-color: $app-primary;
  margin-bottom: 2rem;
  .select-text .select-placeholder {
    left: 0;
    color:white;
  }
}


ion-textarea {
  background-color:#f1f1f1;
  color:black;
  margin-bottom:2rem;
  height:200px;
}


mat-form-field {
  width:100%;

}


.submit {
  margin: 0;
}
@media only screen and (max-width: 575px) {
  ion-grid {
    padding:0px;
  }

  h1{
    font-size: 25px;
    letter-spacing: 0.2rem;
    padding:10px;
    text-align:center;
  }

  .blue-bg {
    transform:translateX(99%);
  }
  ion-input {
    margin-bottom:1.5rem;
  }
}


@media only screen and (min-width: 576px) {
  ion-grid {
    padding:10px;
    margin: 0 auto;
  }
  h1 {
    font-size: 40px;
    text-align:center;
  }
  .blue-bg {
    transform:translateX(70%);
  }
}

@media only screen and (min-width: 768px) {
  ion-grid {
    padding:10px;
  }s
  h1 {
    font-size: 40px;
    text-align:center;
  }

  .blue-bg {
    transform:translateX(70%);
  }
}

@media only screen and (min-width: 992px) {
  ion-grid {
    padding-left:50px;
  }
  .blue-bg {
    transform:translateX(50%);
  }

}

@media only screen and (min-width: 1200px) {
  ion-grid {
    width: 1140px;
    margin: 0 auto;
    padding:0;

  }

  .blue-bg {
    transform:translateX(25%);
  }

  h1 {
    font-size: 63px;
    text-align:center;
  }
}
