
<ion-content  class="ion-padding">
  <header>
    <span>Logo</span>
    <span style="float:right">login</span>
  </header>
  <h1>PARTICIPATION AU FESTIVAL</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <form>
          <ion-input placeholder="Prénom"></ion-input>
          <ion-input placeholder="Nom"></ion-input>
          <ion-input placeholder="Titre de la réalisation"></ion-input>

          <mat-form-field class="example-full-width" appearance="fill" style=" color:white;">
            <mat-label style=" color:white;">Date de la réalisation</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle style=" color:white;" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>

          <ion-select multiple="false"  placeholder="Choissir la catégorie">
            <ion-select-option value=""></ion-select-option>
          </ion-select>
          <ion-textarea placeholder="Présentez votre création..."></ion-textarea>
          <ion-button color="primary" type="submit" class="submit" expand="full">
            Valider
          </ion-button>
        </form>
        <div class="blue-bg"></div>
      </ion-col>
      <ion-col disabled size-sm></ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
