<ion-header>
    <ion-toolbar>
        <ion-title>Détails</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
        <div class="container">
            <div class="header" style="z-index: 2;">
                <ul>
                    <li>
                        <img width="150" class="logo" src="../../assets/img/videalps.png" alt="Videalps logo">
                    </li>
                    <li>
                        <button class="videalps-button"><a (click)="login()">Se connecter</a></button>
                    </li>

                </ul>
            </div>
            <div class="row" style="color:white; font-weight: bold;">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <img src="https://i.ytimg.com/vi/YrcyW38bUVI/hq3.jpg" alt="" class="oeuvre-image">
                    <h1>{{oeuvre?.name}}</h1>
                    <div >Auteur : <span class="info">{{oeuvre?.auteur}}</span></div>
                    <div>Date de réalisation : <span class="info">{{oeuvre?.date}}</span></div>
                    <div>Catégorie :  <span class="info">{{oeuvre?.categoryId}}</span></div>
                    <div class="last-margin">Contributeurs :  <span class="info">{{oeuvre?.contributeurs}}</span></div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="oeuvreInfo">Description <span></span></div>
                    <span class="textDetails">{{oeuvre?.description}}</span>
                    <div class="oeuvreInfo">Techniques utilisées <span></span></div>
                    <span class="textDetails">{{oeuvre?.technique}}</span>
                    <div class="oeuvreInfo">Condition de réalisation <span></span></div>
                    <span class="textDetails">{{oeuvre?.realisation}}</span>
                    <ion-button (click)="vote()">Voter pour cette oeuvre</ion-button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</ion-content>
