<ion-header>
    <ion-toolbar>
        <ion-title>palmares</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <div class="grid">
            <div class="header" style="z-index: 2;">
                <ul>
                    <li>
                        <img width="150" class="logo" src="../../assets/img/videalps.png" alt="Videalps logo">
                    </li>
                    <li>
                        <button class="videalps-button"><a (click)="login()">Se connecter</a></button>
                    </li>

                </ul>
            </div>
            <h1>Le palmares</h1>
        </div>
    </div>
    <div class="footer"></div>
</ion-content>
