<ion-header>
    <ion-toolbar>
        <ion-title>palmares</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="status == 'resultats'">
    <div class="main">
        <div class="grid">
            <div class="header" style="z-index: 2;">
                <ul>
                    <li (click)="home()">
                        <img width="150" class="logo" src="../../assets/img/videalps-white.png" alt="Videalps logo">
                    </li>
                    <li>
                        <button *ngIf="!this.auth.getCurrentUser()" class="videalps-button"><a (click)="login()">Se
                            connecter</a></button>
                        <button *ngIf="this.auth.getCurrentUser()" class="videalps-button"><a (click)="logout()">Se
                            déconnecter</a></button>
                    </li>
                </ul>
            </div>
            <h1>Le <br>palmares</h1>
            <p>Sans plus attendre, les gagnants sont ...</p>
            <iframe src="https://www.youtube.com/embed/W1g7M2sVQwM" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            <h2>Catégories</h2>
            <div class="categories row">
                <div class="category col-md-4 col-sm-4 col-lg-4 col-xs-6" *ngFor="let categorie of categories">
                    <div>{{categorie.name}}</div>
                </div>
                <div class="category col-md-4 col-sm-4 col-lg-4 col-xs-6">
                    <div (click)="scrollToElement(winner)">FAITES DÉFILER LA PAGE POUR VOIR LES GAGNANTS
                        <br><ion-icon name="arrow-down"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    <div class="section-winner" #winner>
        <div class="winner-category" *ngFor="let prix of listPrix">
            <div id="{{prix.name}}">
                {{prix.oeuvreId}} 
            </div>
        </div>
    </div>

        
    </div>
    <div class="footer"></div>
</ion-content>
